[user]
	name = Alireza Pazirandeh
	email = maclir@gmail.com
[alias]
	recent = !sh -c '~/.git-recently-checkout-branches.sh'
	ignore = update-index --assume-unchanged
	unignore = update-index --no-assume-unchanged
	ignored = !git ls-files -v | grep ^[a-z]
	addnw = !sh -c 'git diff -w --no-color -- "$@" | git apply --cached --ignore-whitespace' -
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	pushl = !git push && git log --abbrev-commit
	publish = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	logb = !sh -c 'git log $0..HEAD'
	logr = !sh -c 'git log $0..master --merges'
	cleanupp = !git branch -vv \
		| grep ': gone' \
		| grep -v master \
		| grep -v develop \
		| sed 's/. *//' \
		| cut -d ' ' -f 1
	cleanup = !git branch -vv \
		| grep ': gone' \
		| grep -v master \
		| grep -v develop \
		| sed 's/. *//' \
		| cut -d ' ' -f 1 \
		| xargs git branch -D
	branches = !git for-each-ref \
		--sort=-committerdate \
		--format=\"%(color:blue)%(authordate:relative)\t \
		%(color:red)%(authorname)\t \
		%(color:blue)%(color:bold)%(refname:short)\" \
		refs/remotes \
		| column -t -s \"\t\"
[push]
	default = simple
	followTags = true
[merge]
	tool = vimdiff
	conflictstyle = diff3
	prompt = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[rebase]
	autosquash = true
[diff]
	indentHeuristic = true
[interactive]
	diffFilter = colordiff
[pager]
	log = colordiff | less
	show = colordiff | less
	diff = colordiff | less
	branch = false
	tag = false
[branch]
	autoSetupRebase = always
[pull]
	rebase = true
[remote "origin"]
	prune = true
[mergetool]
	keepBackup = false
[ghq]
	root = ~/.ghq
	root = /Users/maclir/go-workspace/src

[init]
	templatedir = ~/.git-templates
[core]
	pager = less -r
[color]
	ui = true
